---
---

$font-stack: 'Karla', Helvetica, sans-serif;
$primary-color: #10A882;

html {
    box-sizing: border-box;
    font-size: 1rem;
    // font-family: "freight-sans-pro", "Freight Sans Pro", "Verdana", "Arial", sans-serif;
    font-family: $font-stack;
    font-weight: 400;
    line-height: 1.4;
}

body {
    height: 100%;
    margin: 0;
}

p {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}


header {
    background-color: $primary-color;
}

.flex-container {
    margin: 1em;
}


@media only screen and (min-width: 767px) {
    .flex-container {
        display: flex;
    }

    nav {
        width: 33vw;
    }

    .main {
        width: 66vw;
    }
}

nav {
    margin-right: 2.35765%;

    p {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.625rem;
    }
    
    .nav-links {
        border: 1px solid rgb(223, 223, 223);
        list-style: outside none none;
        margin-bottom: 1.25rem;
        padding: 0px;  
    }
    
    a {
        border-bottom: 1px solid rgb(223, 223, 223);
        display: block;
        padding: 0.75rem;
        margin: 0;
        text-decoration: none;

        &:hover {
            background-color: rgb(245, 245, 246);
        }

        &:hover, &:active,  &:visited {
            color: rgb(13, 119, 172);
        }

        &:focus {
            background-color: rgb(245, 245, 246);
            outline: .25em rgb(13, 119, 172) solid;
        }

        &.current {
            background-color: rgb(245, 245, 246);
        }

        &:last-child {
            border-bottom: 0px none;
        }
    }
}

.main {
    font-family: 'Karla', Helvetica;

    h1 {
        font-family: 'Karla', Helvetica;
        font-size: 38px;
        font-weight: bold;
        line-height: 44px;
        margin-top: 0;
    }

    h2 {
        font-family: 'Karla', Helvetica;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    h3 {
        font-family: 'Karla', Helvetica;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        line-height: 21px;
    }

    b {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }


    .intro-text {
        color: rgb(124, 124, 124);
        font-size: 1.25rem;
        line-height: 1.625rem;
        margin-bottom: 2rem;
    }
}

.color-box {
    border: 1px solid #000000;
    box-sizing: border-box; 
    height: 114px; 
    width: 114px;
}

.box {
    box-sizing: border-box; 
    padding: 20px;
}

.type-box {
    width: 275px;
    height: auto;
    padding: 20px;
}

.example-buttons {
    width: 364px;
    display: flex;
    justify-content: space-between;
}

.active-button {
    background: #FFFFFF;
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #093228;

    &:hover {
        background: #126B55;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
    }

    &:focus {
        background: #093228;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        color: rgba(255, 255, 255, 0.5);
    }

    &:disabled{
        background: #FFFFFF;
        border: 1.5px solid #BABABA;
    }
}

.hover-button {
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #126B55;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.pressed-button {
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #093228;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
}

.disabled-button {
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #FFFFFF;
    border: 1.5px solid #BABABA;
}

.active-button-light {
    background: #126B55;
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    &:hover {
        background: #FFFFFF;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        color: #093228;
    }
}

.hover-button-light {
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: #093228;
}

.pressed-button-light {
    border: 1.5px solid #126B55;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #D2D7DF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.5);
}

.disabled-button-light {
    border: none;
    border-radius: 5px;
    width: 101px;
    height: 35px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #909090;
    color: #FFFFFF;
}